.form-control {
  margin: 2rem;
}

p {
  font-size: 1.5rem;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

.forma {
  display: inline-block;
}

.alertText {
  display: flex;
  justify-content: center;
  color: #3a64dc;
}
